{
    "swagger": "2.0",
    "info": {
      "description": "This is a sample server celler server.",
      "version": "1.0",
      "title": "Swagger Example API",
      "termsOfService": "http://swagger.io/terms/",
      "contact": {
        "name": "API Support",
        "url": "http://www.swagger.io/support",
        "email": "support@swagger.io"
      },
      "license": {
        "name": "Apache 2.0",
        "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
      }
    },
    "host": "apimws.bkn.go.id:8243",
    "basePath": "/apisiasn/1.0",
    "schemes": [
      "https",
      "http"
    ],
    "security": [
      {
        "default": []
      }
    ],
    "paths": {
      "/angkakredit/delete/{idRiwayatAngkaKredit}": {
        "delete": {
          "tags": [
            "AngkaKredit"
          ],
          "summary": "Delete Riwayat Angka Kredit",
          "description": "delete Riwayat Angka Kredit by idRiwayatAngkaKredit",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "idRiwayatAngkaKredit",
              "in": "path",
              "description": "AngkaKredit By Id",
              "required": true,
              "type": "string"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/riwayat.RwAngkaKreditResponse"
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/angkakredit/id/{idRiwayatAngkaKredit}": {
        "get": {
          "tags": [
            "AngkaKredit"
          ],
          "summary": "Get Riwayat Angka Kredit",
          "description": "get Riwayat Angka Kredit by idRiwayatAngkaKredit",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "idRiwayatAngkaKredit",
              "in": "path",
              "description": "AngkaKredit By Id",
              "required": true,
              "type": "string"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/riwayat.RwAngkaKreditResponse"
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/angkakredit/save": {
        "post": {
          "tags": [
            "AngkaKredit"
          ],
          "summary": "Create Angka Kredit",
          "description": "Create Angka Kredit PNS",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "rwAngkaKredit",
              "description": "Create RW Angka Kredit",
              "required": true,
              "schema": {
                "$ref": "#/definitions/riwayat.AngkaKreditCreate"
              }
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/model.ResultCreate"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/cpns/save": {
        "post": {
          "tags": [
            "CPNS"
          ],
          "summary": "Create Data CPNS",
          "description": "Create Data CPNS",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "cpnsPNSRet",
              "description": "Create CPNS",
              "required": true,
              "schema": {
                "$ref": "#/definitions/pns.CPNSPNSRetrieve"
              }
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/pns.DataOrtu"
                      }
                    }
                  }
                ]
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "404": {
              "description": "Not Found",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "500": {
              "description": "Internal Server Error",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/diklat/delete/{idRiwayatDiklat}": {
        "delete": {
          "tags": [
            "Diklat"
          ],
          "summary": "Delete Riwayat Diklat",
          "description": "delete Riwayat Diklat by idRiwayatDiklat",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "idRiwayatDiklat",
              "in": "path",
              "description": "Delete Diklat By Id",
              "required": true,
              "type": "string"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/model.ResultCreate"
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/diklat/id/{idRiwayatDiklat}": {
        "get": {
          "tags": [
            "Diklat"
          ],
          "summary": "Get Riwayat Angka Kredit",
          "description": "get Riwayat Angka Kredit by idRiwayatDiklat",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "idRiwayatDiklat",
              "in": "path",
              "description": "Diklat By Id",
              "required": true,
              "type": "string"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/riwayat.RWDiklatResponse"
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/diklat/save": {
        "post": {
          "tags": [
            "Diklat"
          ],
          "summary": "Create DiklatStruktural",
          "description": "Create Diklat Struktural PNS",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "rwDiklatStruktural",
              "description": "Create RW Diklat",
              "required": true,
              "schema": {
                "$ref": "#/definitions/riwayat.RwDiklatCreate"
              }
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/model.ResultCreate"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/download-dok": {
        "get": {
          "tags": [
            "Upload"
          ],
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "filePath",
              "in": "query",
              "description": "filePath",
              "required": true,
              "type": "string"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/hukdis/id/{idRiwayatHukdis}": {
        "get": {
          "tags": [
            "Hukdis"
          ],
          "summary": "Get Riwayat Hukdis",
          "description": "get Riwayat Hukdis by idRiwayatJabatan",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "idRiwayatHukdis",
              "in": "path",
              "description": "Hukdis By Id",
              "required": true,
              "type": "string"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/riwayat.RwHukdisResponse"
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/hukdis/save": {
        "post": {
          "tags": [
            "Hukdis"
          ],
          "summary": "Create Hukdis",
          "description": "Create Hukdis PNS",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "rwHukdis",
              "description": "Create RW Hukdis",
              "required": true,
              "schema": {
                "$ref": "#/definitions/riwayat.RWHukDisCreate"
              }
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/model.ResultCreate"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/jabatan/id/{idRiwayatJabatan}": {
        "get": {
          "tags": [
            "Jabatan"
          ],
          "summary": "Get Jabatan",
          "description": "get Jabatan by idRiwayatJabatan",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "idRiwayatJabatan",
              "in": "path",
              "description": "Jabatan By Id",
              "required": true,
              "type": "string"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/riwayat.RwJabatanResponse"
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/jabatan/pns/{nipBaru}": {
        "get": {
          "tags": [
            "Jabatan"
          ],
          "summary": "Get Jabatan PNS",
          "description": "get Jabatan by nipBaru",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "nipBaru",
              "in": "path",
              "description": "NIP Baru",
              "required": true,
              "type": "integer"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/riwayat.RwJabatanResponse"
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/jabatan/unorjabatan/save": {
        "post": {
          "tags": [
            "Jabatan"
          ],
          "summary": "Create Unor Jabatan",
          "description": "Create Unor Jabatan PNS",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "rwjabatan",
              "description": "Create RW Jabtan",
              "required": true,
              "schema": {
                "$ref": "#/definitions/riwayat.RwJabatanV2Create"
              }
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/model.ResultCreate"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/jabatan/save": {
        "post": {
          "tags": [
            "Jabatan"
          ],
          "summary": "Create Jabatan",
          "description": "Create Jabatan PNS",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "rwjabatan",
              "description": "Create RW Jabtan",
              "required": true,
              "schema": {
                "$ref": "#/definitions/riwayat.RwJabatanCreate"
              }
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/model.ResultCreate"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/jabatan/delete/{idRiwayatJabatan}": {
        "delete": {
          "tags": [
            "Jabatan"
          ],
          "summary": "Delete Riwayat Jabatan",
          "description": "delete Riwayat Jabatan by idRiwayatJabatan",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "idRiwayatJabatan",
              "in": "path",
              "description": "Jabatan By Id",
              "required": true,
              "type": "string"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/model.ResultCreate"
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/kinerjaperiodik/delete/{idRiwayatKinerjaPeriodik}": {
        "delete": {
          "tags": [
            "Kinerja"
          ],
          "summary": "Delete Riwayat Kinerja Periodik",
          "description": "delete Riwayat Kinerja Periodik by idRiwayatKinerjaPeriodik",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "idRiwayatKinerjaPeriodik",
              "in": "path",
              "description": "KinerjaPeriodik By Id",
              "required": true,
              "type": "string"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/model.ResultCreate"
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/kinerjaperiodik/save": {
        "post": {
          "tags": [
            "Kinerja"
          ],
          "summary": "Create Kinerja Periodik",
          "description": "Create Kinerja Periodik",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "rwSKP",
              "description": "Create RW Kinerja Periodik",
              "required": true,
              "schema": {
                "$ref": "#/definitions/riwayat.RWSkpPeriodikCreate"
              }
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/model.ResultCreate"
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "404": {
              "description": "Not Found",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "500": {
              "description": "Internal Server Error",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/kursus/delete/{idRiwayatKursus}": {
        "delete": {
          "tags": [
            "Kursus"
          ],
          "summary": "Delete Riwayat Kursus",
          "description": "delete Riwayat Kursus by idRiwayatKursus",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "idRiwayatKursus",
              "in": "path",
              "description": "Delete Kursus By Id",
              "required": true,
              "type": "string"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/model.ResultCreate"
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/kursus/id/{idRiwayatKursus}": {
        "get": {
          "tags": [
            "Kursus"
          ],
          "summary": "Get Riwayat Angka Kredit",
          "description": "get Riwayat Angka Kredit by idRiwayatKursus",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "idRiwayatKursus",
              "in": "path",
              "description": "Kursus By Id",
              "required": true,
              "type": "string"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/riwayat.RWKursusResponse"
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/kursus/save": {
        "post": {
          "tags": [
            "Kursus"
          ],
          "summary": "Create Kursus",
          "description": "Create Kursus PNS",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "rwkursus",
              "description": "Create RW Kursus",
              "required": true,
              "schema": {
                "$ref": "#/definitions/riwayat.RwKursusCreate"
              }
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/model.ResultCreate"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pengadaan/dokumen-pengadaan": {
        "get": {
          "tags": [
            "Pengadaan"
          ],
          "summary": "Get Dokumen Pengadaan ASN",
          "description": "Get Dokumen Pengadaan ASN by tahun anggaran",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/pns.DataPengadaan"
                      }
                    }
                  }
                ]
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "404": {
              "description": "Not Found",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "500": {
              "description": "Internal Server Error",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pengadaan/list-pengadaan-instansi": {
        "get": {
          "tags": [
            "Pengadaan"
          ],
          "summary": "Get List Pengadaan ASN",
          "description": "Get List Pengadaan ASN by tahun anggaran",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "tahun",
              "in": "query",
              "description": "Tahun anggaran",
              "required": true,
              "type": "integer"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/pns.DataPengadaan"
                      }
                    }
                  }
                ]
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "404": {
              "description": "Not Found",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "500": {
              "description": "Internal Server Error",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/penghargaan/id/{idRiwayatPenghargaan}": {
        "get": {
          "tags": [
            "Penghargaan"
          ],
          "summary": "Get Riwayat Penghargaan",
          "description": "get Riwayat Penghargaan by idRiwayatPenghargaan",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "idRiwayatPenghargaan",
              "in": "path",
              "description": "Penghargaan By Id",
              "required": true,
              "type": "string"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/riwayat.RwPenghargaanResponse"
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/penghargaan/delete/{idRiwayatPenghargaan}": {
        "delete": {
          "tags": [
            "Penghargaan"
          ],
          "summary": "Delete Riwayat Kursus",
          "description": "delete Riwayat Kursus by idRiwayatKursus",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "idRiwayatPenghargaan",
              "in": "path",
              "description": "Delete Penghargaan By Id",
              "required": true,
              "type": "string"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/model.ResultCreate"
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/penghargaan/save": {
        "post": {
          "tags": [
            "Penghargaan"
          ],
          "summary": "Create Penghargaan",
          "description": "Create Penghargaan",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "rwPenghargaan",
              "description": "Create RW Penghargaan",
              "required": true,
              "schema": {
                "$ref": "#/definitions/riwayat.RwPenghargaanCreate"
              }
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/model.ResultCreate"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/data-anak/{nipBaru}": {
        "get": {
          "tags": [
            "PNS"
          ],
          "summary": "Get Data Anak PNS",
          "description": "get Data Anak by nipBaru",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "nipBaru",
              "in": "path",
              "description": "NIP Baru",
              "required": true,
              "type": "integer"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/pns.DataAnak"
                      }
                    }
                  }
                ]
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "404": {
              "description": "Not Found",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "500": {
              "description": "Internal Server Error",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/data-ortu/{nipBaru}": {
        "get": {
          "tags": [
            "PNS"
          ],
          "summary": "Get Data Ortu PNS",
          "description": "get Data Ortu by nipBaru",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "nipBaru",
              "in": "path",
              "description": "NIP Baru",
              "required": true,
              "type": "integer"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/pns.DataOrtu"
                      }
                    }
                  }
                ]
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "404": {
              "description": "Not Found",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "500": {
              "description": "Internal Server Error",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/data-pasangan/{nipBaru}": {
        "get": {
          "tags": [
            "PNS"
          ],
          "summary": "Get Data Pasangan",
          "description": "get Data Pasangan by nipBaru",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "nipBaru",
              "in": "path",
              "description": "NIP Baru",
              "required": true,
              "type": "integer"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/pns.DataPasangan"
                      }
                    }
                  }
                ]
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "404": {
              "description": "Not Found",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "500": {
              "description": "Internal Server Error",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/data-utama-golongansync": {
        "get": {
          "tags": [
            "PNS"
          ],
          "summary": "Get",
          "description": "Sync Golongan terakhir ke data utama",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "pns_orang_id",
              "in": "query",
              "description": "pns_orang_id",
              "required": true,
              "type": "string"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/model.ResultCreate"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/data-utama-jabatansync": {
        "get": {
          "tags": [
            "PNS"
          ],
          "summary": "Get",
          "description": "Sync Jabatan terakhir ke data utama",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "pns_orang_id",
              "in": "query",
              "description": "pns_orang_id",
              "required": true,
              "type": "string"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/model.ResultCreate"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/data-utama-update": {
        "post": {
          "tags": [
            "PNS"
          ],
          "summary": "Update",
          "description": "Update Data Utama",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "pns",
              "description": "Update Data Utama",
              "required": true,
              "schema": {
                "$ref": "#/definitions/pns.DataUtamaUpdate"
              }
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/model.ResultCreate"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/nilaiipasn/{nipBaru}": {
        "get": {
          "tags": [
            "PNS"
          ],
          "summary": "Get Dokumen Pengadaan ASN",
          "description": "Get Dokumen Pengadaan ASN by tahun anggaran",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "nipBaru",
              "in": "query",
              "description": "nipBaru",
              "required": true,
              "type": "integer"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/pns.NilaiIpAsn"
                      }
                    }
                  }
                ]
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "404": {
              "description": "Not Found",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "500": {
              "description": "Internal Server Error",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/data-utama/{nipBaru}": {
        "get": {
          "tags": [
            "PNS"
          ],
          "summary": "Get Data Utama",
          "description": "get Data Utama by nipBaru",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "nipBaru",
              "in": "path",
              "description": "NIP Baru",
              "required": true,
              "type": "integer"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/pns.DataUtamaResponse"
                      }
                    }
                  }
                ]
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "404": {
              "description": "Not Found",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "500": {
              "description": "Internal Server Error",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/list-kp-instansi": {
        "get": {
          "tags": [
            "KP"
          ],
          "summary": "Get List KP",
          "description": "Get List KP by Periode KP",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "periode",
              "in": "query",
              "description": "Periode yyyy-mm-dd",
              "required": true,
              "type": "string"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/pns.DataKp"
                      }
                    }
                  }
                ]
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "404": {
              "description": "Not Found",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "500": {
              "description": "Internal Server Error",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/list-pensiun-instansi": {
        "get": {
          "tags": [
            "Pemberhentian"
          ],
          "summary": "Get List Pemberhentian",
          "description": "Get List Pemberhentian by tgl pertek",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "tglAwal",
              "in": "query",
              "description": "TglAwal dd-mm-yyyy",
              "required": true,
              "type": "string"
            },
            {
              "name": "tglAkhir",
              "in": "query",
              "description": "TglAkhir dd-mm-yyyy",
              "required": true,
              "type": "string"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/pns.DataKp"
                      }
                    }
                  }
                ]
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "404": {
              "description": "Not Found",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "500": {
              "description": "Internal Server Error",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/photo/{idPns}": {
        "get": {
          "tags": [
            "PNS"
          ],
          "summary": "Get Foto",
          "description": "get Foto by IdPns",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "idPns",
              "in": "path",
              "description": "Id Pns",
              "required": true,
              "type": "string"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/pns.DataUtamaResponse"
                      }
                    }
                  }
                ]
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "404": {
              "description": "Not Found",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "500": {
              "description": "Internal Server Error",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/rw-angkakredit/{nipBaru}": {
        "get": {
          "tags": [
            "Riwayat"
          ],
          "summary": "Get Riwayat Pemberhentian PNS",
          "description": "get Riwayat Pemberhentian by nipBaru",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "nipBaru",
              "in": "path",
              "description": "NIP Baru",
              "required": true,
              "type": "integer"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/riwayat.RwAngkaKreditResponse"
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/rw-cltn/{nipBaru}": {
        "get": {
          "tags": [
            "Riwayat"
          ],
          "summary": "Get RW Cltn PNS",
          "description": "get RW Cltn by nipBaru",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "nipBaru",
              "in": "path",
              "description": "NIP Baru",
              "required": true,
              "type": "integer"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/riwayat.RWCltnResponse"
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/rw-diklat/{nipBaru}": {
        "get": {
          "tags": [
            "Riwayat"
          ],
          "summary": "Get Riwayat Diklat Struktural",
          "description": "get Riwayat diklat by nipBaru",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "nipBaru",
              "in": "path",
              "description": "NIP Baru",
              "required": true,
              "type": "integer"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/riwayat.RWDiklatResponse"
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/rw-dp3/{nipBaru}": {
        "get": {
          "tags": [
            "Riwayat"
          ],
          "summary": "Get Riwayat DP3 PNS",
          "description": "get Riwayat Dp3 by nipBaru",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "nipBaru",
              "in": "path",
              "description": "NIP Baru",
              "required": true,
              "type": "integer"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/riwayat.RwDp3Response"
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/rw-golongan/{nipBaru}": {
        "get": {
          "tags": [
            "Riwayat"
          ],
          "summary": "Get RW Golongan PNS",
          "description": "get RW Golongan by nipBaru",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "nipBaru",
              "in": "path",
              "description": "NIP Baru",
              "required": true,
              "type": "integer"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/riwayat.RWGolonganResponse"
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/rw-hukdis/{nipBaru}": {
        "get": {
          "tags": [
            "Riwayat"
          ],
          "summary": "Get Riwayat Hukdis PNS",
          "description": "get Riwayat Hukdis by nipBaru",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "nipBaru",
              "in": "path",
              "description": "NIP Baru",
              "required": true,
              "type": "integer"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/riwayat.RwHukdisResponse"
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/rw-jabatan/{nipBaru}": {
        "get": {
          "tags": [
            "Riwayat"
          ],
          "summary": "Get Riwayat Jabatan",
          "description": "get Riwayat Jabatan by nipBaru",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "nipBaru",
              "in": "path",
              "description": "NIP Baru",
              "required": true,
              "type": "integer"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/riwayat.RwJabatanResponse"
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/rw-kinerjaperiodik/{nipBaru}": {
        "get": {
          "tags": [
            "Riwayat"
          ],
          "summary": "Get Riwayat Kinerja Periodik PNS",
          "description": "get Riwayat Kinerja Periodik by nipBaru",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "nipBaru",
              "in": "path",
              "description": "NIP Baru",
              "required": true,
              "type": "integer"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/riwayat.RwSkp22PeriodikResponse"
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/rw-kursus/{nipBaru}": {
        "get": {
          "tags": [
            "Riwayat"
          ],
          "summary": "Get Riwayat Kursus PNS",
          "description": "get Riwayat Kursus by nipBaru",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "nipBaru",
              "in": "path",
              "description": "NIP Baru",
              "required": true,
              "type": "integer"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/riwayat.RWKursusResponse"
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/rw-masakerja/{nipBaru}": {
        "get": {
          "tags": [
            "Riwayat"
          ],
          "summary": "Get Riwayat Masa Kerja PNS",
          "description": "get Riwayat Masa Kerja by nipBaru",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "nipBaru",
              "in": "path",
              "description": "NIP Baru",
              "required": true,
              "type": "integer"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/riwayat.RWMasaKerjaResponse"
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/rw-pemberhentian/{nipBaru}": {
        "get": {
          "tags": [
            "Riwayat"
          ],
          "summary": "Get Riwayat Pemberhentian PNS",
          "description": "get Riwayat Pemberhentian by nipBaru",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "nipBaru",
              "in": "path",
              "description": "NIP Baru",
              "required": true,
              "type": "integer"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/riwayat.RWPemberhentianResponse"
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/rw-pendidikan/{nipBaru}": {
        "get": {
          "tags": [
            "Riwayat"
          ],
          "summary": "Get Riwayat Pendidikan",
          "description": "get Riwayat Pendidikan by nipBaru",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "nipBaru",
              "in": "path",
              "description": "NIP Baru",
              "required": true,
              "type": "integer"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/riwayat.RwPendidikanResponse"
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/rw-penghargaan/{nipBaru}": {
        "get": {
          "tags": [
            "Riwayat"
          ],
          "summary": "Get RW Penghargaan PNS",
          "description": "get RW Penghargaan by nipBaru",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "nipBaru",
              "in": "path",
              "description": "NIP Baru",
              "required": true,
              "type": "integer"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/riwayat.RwPenghargaanResponse"
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/rw-pindahinstansi/{nipBaru}": {
        "get": {
          "tags": [
            "Riwayat"
          ],
          "summary": "Get Riwayat Pindah Instansi PNS",
          "description": "get Riwayat Pindah Instansi by nipBaru",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "nipBaru",
              "in": "path",
              "description": "NIP Baru",
              "required": true,
              "type": "integer"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/riwayat.RwPindahInstansiResponse"
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/rw-pnsunor/{nipBaru}": {
        "get": {
          "tags": [
            "Riwayat"
          ],
          "summary": "Get Riwayat PNS Unor",
          "description": "get Riwayat PNS Unor by nipBaru",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "nipBaru",
              "in": "path",
              "description": "NIP Baru",
              "required": true,
              "type": "integer"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/riwayat.RwPnsUnorResponse"
                        }
                      }
                    }
                  }
                ]
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "404": {
              "description": "Not Found",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "500": {
              "description": "Internal Server Error",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/rw-pwk/{nipBaru}": {
        "get": {
          "tags": [
            "Riwayat"
          ],
          "summary": "Get Riwayat PWK",
          "description": "get Riwayat PWK by nipBaru",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "nipBaru",
              "in": "path",
              "description": "NIP Baru",
              "required": true,
              "type": "integer"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/riwayat.RwPwkResponse"
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/rw-skp/{nipBaru}": {
        "get": {
          "tags": [
            "Riwayat"
          ],
          "summary": "Get Riwayat SKP",
          "description": "get Riwayat SKP by nipBaru",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "nipBaru",
              "in": "path",
              "description": "NIP Baru",
              "required": true,
              "type": "integer"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/riwayat.RwSkpResponse"
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/pns/rw-skp22/{nipBaru}": {
        "get": {
          "tags": [
            "Riwayat"
          ],
          "summary": "Get Riwayat SKP22",
          "description": "get Riwayat SKP22 by nipBaru",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "nipBaru",
              "in": "path",
              "description": "NIP Baru",
              "required": true,
              "type": "integer"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/riwayat.RwSkpResponse"
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/referensi/ref-unor": {
        "get": {
          "tags": [
            "Referensi"
          ],
          "summary": "Get Ref Unor",
          "description": "get Ref Unor",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/referensi.UnorResponse"
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/skp/2021/save": {
        "post": {
          "tags": [
            "Skp"
          ],
          "summary": "Create SKP",
          "description": "Create SKP PNS",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "rwSkp2021",
              "description": "Create RW SKP 2021",
              "required": true,
              "schema": {
                "$ref": "#/definitions/riwayat.RWSkp2021Create"
              }
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/model.ResultCreate"
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "404": {
              "description": "Not Found",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "500": {
              "description": "Internal Server Error",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/skp/id/{idRiwayatSkp}": {
        "get": {
          "tags": [
            "Skp"
          ],
          "summary": "Get Riwayat Skp",
          "description": "get Riwayat Skp by idRiwayatJabatan",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "idRiwayatSkp",
              "in": "path",
              "description": "Skp By Id",
              "required": true,
              "type": "string"
            },
            {
              "name": "Auth",
              "in": "header",
              "description": "With the bearer started",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/definitions/model.Result"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/riwayat.RwSkpResponse"
                      }
                    }
                  }
                ]
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "404": {
              "description": "Not Found",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            },
            "500": {
              "description": "Internal Server Error",
              "schema": {
                "$ref": "#/definitions/model.Result"
              }
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            },
            {
              "default": []
            }
          ],
          "x-auth-type": "Application & Application User",
          "x-throttling-tier": "Unlimited"
        }
      },
      "/skp/save": {
        "post": {
          "tags": [
            "Skp"
          ],
          "summary": "Create SKP",
          "description": "Create SKP PNS",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "rwHukdis",
              "description": "Create RW SKP",
[...]
